.material-symbols-outlined {
  position: absolute;
  top: 5px;
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
}
body {
  font-family: 'Urbanist', sans-serif;
}
/* 컨텐츠 */
#contents {
  width: 100%;
}

#contents .contents_header_nav {
  width: 100%;
  height: 120px;
padding: 40px 0 0 80px;
box-sizing: border-box;
}

#contents .contents_header_nav h3 {
  color: mediumblue;
  width: 150px;
  font-family: 'Gloock', serif;
  font-size: 30px;
  border: 2px solid mediumblue;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
}

/* 컨텐츠 About me */
#aboutme {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
}

#aboutme section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#aboutme section>.profile {
  width: 450px;
  position: absolute;
  top: 30px;
  left: 0;
  /* background-color: aliceblue; */
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid mediumblue;
  border-radius: 0 50px 50px 0;
}

#aboutme .profile_image {
  width: 250px;
  height: 250px;
  background-color: mediumblue;
  border-radius: 100%;
  margin-bottom: 15px;
}

#aboutme .profile>.profile_txt>h4 {
  font-family: 'Gloock', serif;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 700;
}

#aboutme .profile>.profile_txt>p {
  font-size: 15px;
  line-height: 25px;
  padding: 10px 30px;
  background-color: aquamarine;
  margin-bottom: 20px;
}

#aboutme .profile>.Strength {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#aboutme .profile>.Strength>h5 {
  font-family: 'Gloock', serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

#aboutme .profile>.Strength>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}

#aboutme .profile .Strength>div>span {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: #ffffff;
  border: 2px dashed mediumblue;
  text-align: center;
  line-height: 90px;
  font-size: 18px;
  cursor: pointer;
}

#aboutme .profile .Strength>div>span:hover {
  background-color: mediumblue;
  transition: 2s ease-in-out i;
}

#aboutme section .technical_part {
  width: 900px;
  height: 780px;
  position: relative;
  top: 35px;
  left : 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#aboutme .technical_part .technical_part_tt {
  font-family: 'Gloock', serif;
  font-size: 25px;
  margin-bottom: 10px;
  border-radius:25px;
  padding: 10px;
  color: #000000;
  text-align: center;
}

#aboutme .technical_part01 {
  box-sizing: border-box;
  margin-bottom: 40px;
}

#aboutme .technical_part01 .technical_part01_txt {
  width: 350px;
  display: flex;
  flex-direction: row;
  border: 7px double tomato;
  border-radius: 15px;
  padding: 30px 10px;
}

#aboutme .technical_part01 .technical_part01_skill li {
  height: 23px;
  font-size: 15px;
  color: aliceblue;
  background-color: #000000;
  border-radius: 15px;
  text-align: center;
  line-height: 23px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 3px 10px;
}


#aboutme .technical_part01 .technical_part01_skilldetail {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  box-sizing: border-box;
}

#aboutme .technical_part01 .technical_part01_skilldetail>li {
  margin-left: 20px;
  line-height: 20px;
}
#aboutme .technical_part02 {
  width: 100%;
  padding: 15px 0 0;
  box-sizing: border-box;
}

#aboutme .technical_part02 ul{
  padding: 30px;
  border: 4px solid teal;
  border-radius: 50px 50px 0 0;
}

#aboutme .technical_part02 li {
  margin-bottom: 10px;
}

#aboutme .technical_part02 span {
  font-size: 15px;
  margin-right: 10px;
}

#aboutme .technical_part03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-left: 10px;
}


#aboutme .technical_part03 li {
  margin-bottom: 10px;
}

#aboutme .technical_part03 h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

#aboutme .technical_part03_course {
  width: 420px;
  height: 270px;
  border: 5px dashed yellow;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

#aboutme .technical_part03_course>ul {}

#aboutme .technical_part03_course>ul>li {
  font-size: 13px;
  line-height: 25px;
}

#aboutme .technical_part03_course>ul>li>span {
  font-size: 12px;
  float: right;
  width: 48px;
  height: 22px;
  border-radius: 15px;
  text-align: center;
  line-height: 22px;
}

.ing {
  border: 1px solid #000000;
  color:#000000;
}

.done {
  color: #fff;
  background-color: #000000;
}

#aboutme .technical_part03_book {
  width: 420px;
  padding: 15px 20px 15px;
  box-sizing: border-box;
  height: 270px;
  border: 5px dotted violet;

}

#aboutme .technical_part03_book>ul>li {
  font-size: 13px;
  line-height: 25px;
}

#aboutme .technical_part03_book>ul>li>span {
  font-size: 12px;
  float: right;
  text-align: right;
  line-height: 22px;
}


/* 컨텐츠 Project */
#contents .project {
  width: 100%;
  height: 1080px;
  margin-bottom: 200px;
}

#contents .project>section {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 300px 0 200px;
  box-sizing: border-box;
}

#contents .project>section .project_detail {
  width: 600px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  box-sizing: border-box;
}
#contents .project>section .project_detail h4 {
  font-size: 25px;
  transition: all 1.5s ease-in-out;
}

#contents .project>section .project_detail h5 {
  font-size: 15px;
  transition: all 1.5s ease-in-out;
}

#contents .project>section .project_detail p {
  width: 450px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
  transition: all 1.5s ease-in-out;
}

#contents .project>section .project_detail> .goto{
  font-family: 'Gloock', serif;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contents .project>section .project_detail> .goto > a {
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  border: 2px solid #000000;
  border-radius: 30px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 2px;
}

#contents .project>section .project_detail>.goto>a:hover{
    border: 2px solid mediumblue;
  background-color:  mediumblue;
  color: #fff;
  transition: all 0.5s ease-in-out;
}


#contents .project>section .project_preview {
  width: 700px;
  height: auto;
}

#project01>section .project_preview {
  background: url(../images/project01.png) no-repeat;
  background-size: 100%;
}

#project02>section .project_preview {
  background: url(../images/project02.png) no-repeat;
  background-size: 100%;
}


/* 컨텐츠 contact */
#contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: tomato;
}

#contacts section {
  height: 850px;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contacts section>h4 {
  font-size: 250px;
  margin-bottom: 10px;
  color: mediumblue;
}

.blink {
  animation: blink-effect 2s ease infinite;
}

#contacts section>h5 {
  font-size: 15px;
  margin-bottom: 10px;
}

#contacts section>p {
      font-family: 'Gloock', serif;
  font-size: 50px;
  margin-bottom: 100px;
    color: #ffffff;
}

#contacts section ul {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#contacts section li {
  font-size: 20px;
  text-align: center;
}

#contacts section li>a {
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 40px;
    color: #ffffff;
}

#contacts section li>a:hover {
  padding: 10px 20px;
  border: 2px solid mediumblue;
  background-color: mediumblue;
  color: #fff;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
}

/* about me */
@keyframes profilein {
  from{
    left: -400px;
  }
  to{
    left: 0;
  }
}

@keyframes profilestr {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.animate {
  animation: slide-up 0.7s both;
}

@keyframes slide-up {
  0% {
    transform: translateY(400px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate {
  animation: slide-down 0.7s both;
}

@keyframes slide-down {
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate {
  animation: slide-down 0.7s both;
}

@keyframes slide-in {
  0% {
    transform: translateX(400px);
  }

  100% {
    transform: translateY(0);
  }
}
/* project */

@keyframes project_detail {
  from {
    opacity: 0;
    transform: translate(0, 400px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes blink-effect {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

