@media screen and (max-width: 1600px) {
#contents {
    width: 100vw;
  }
    #aboutme section>.profile {
      width: 500px;
      height: 950px;
      position: absolute;
      top: -100px;
      left: 100px;
      background-color: aliceblue;
      text-align: center;
      padding: 50px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: all 1.5s ease-in-out;
    }
  
    #aboutme section .technical_part {
      width: 50vw;
      position: relative;
      top: 0;
      left: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
}
@media screen and (max-width: 1200px) {

/* 상단 메인 */

    #header .menu {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 2vw;
      right: 5vw;
    }
  
    #header .menu li {
      width: 12vw;
      padding: 0 15px;
      box-sizing: border-box;
    }
  
    #header .menu li>a {
      font-size: 1.7vw;
      color: aliceblue;
    }
  #main {
    width: 100%;
    padding: 13vw;
    box-sizing: border-box;
    position: absolute;
    z-index: 9997;
  }

  #main h2 {
    font-size: 7vw;
    color: aliceblue;
    letter-spacing: 5px;
    margin: 15px 0;
  }

  #main p {
    font-size: 3vw;
    color: aliceblue;
    letter-spacing: 5px;
  }

  #main p:last-child {
    font-size: 5vw;
    color: aliceblue;
    font-weight: 700;
    letter-spacing: 35px;
  }

#contents .contents_header_nav {
    width: 100%;
    height: 6vw;
    padding: 0 150px 15px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
  }

  #aboutme section>.profile {
    width: 28vw; /* 500px*/
    height: 62vw; 
    position: absolute;
    top: -6vw;
    left: 9vw; /*100px*/
    background-color: aliceblue;
    text-align: center;
    padding: 3vw; /*50px*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 1.5s ease-in-out;
  }
    @keyframes profiledown {
      from {
        height: 0;
      }
  
      to {
        height: 62vw;
      }
    }
    
.profile_img {
  width: 15vw; /* 250px*/
  height: 15vw;
  border-radius: 50%;
  object-fit: cover;
  margin: 1vw;
  transition: all 1.5s ease-in-out;
}

#aboutme .profile_txt {
  height: 20vw; /*300px*/
  transition: all 1.5s ease-in-out;
}

#aboutme .profile>.profile_txt>h4 {
  font-size: 2vw; /*30px*/
  margin-bottom: 15px;
  font-weight: 700;
}

#aboutme .profile>.profile_txt>p {
  font-size: 1.2vw;
  line-height: 1.7vw;
  margin-bottom: 1.5vw;
}

#aboutme .profile>.Strength {
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  transition: all 1.5s ease-in-out;
}

#aboutme .profile>.Strength>h5 {
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 15px;
}

#aboutme .profile>.Strength>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#aboutme .profile .Strength>div>span {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 6vw;
  font-size: 1.2vw;
}
  #aboutme section .technical_part {
    width: 40vw;
    height: 45vw;
    position: absolute;
    top: 0;
    left: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    #aboutme .technical_part .technical_part_tt {
      font-size: 1.5vw;
      margin-bottom: 1.5vw;
    }
  
    #aboutme .technical_part01 {
      width: 700px;
      height: auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 1.5s ease-in-out;
      margin-bottom: 1.5vw;
    }
  
    #aboutme .technical_part01 .technical_part01_txt {
      display: flex;
      flex-direction: row;
    }
  
        #aboutme .technical_part01 .technical_part01_skill{
          height: auto;
        }
    #aboutme .technical_part01 .technical_part01_skill li {
      width: 6vw;
      height: 1.5vw;
      font-size: 1vw;
      color: #040463;
      border: 1px solid #040463;
      border-radius: 15px;
      text-align: center;
      line-height: 1.5vw;
      margin-bottom: 0.5vw;
    }
  
    #aboutme .technical_part01 .technical_part01_skilldetail {
      width: 500px;
      height: 8vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.2vw ;
      box-sizing: border-box;
    }
  
    #aboutme .technical_part01 .technical_part01_skilldetail>li {
      font-size: 0.7vw;
      margin-left: 1vw;
      line-height: 1vw;
    }
  
    #aboutme .technical_part02 {
      width: 100%;
      height: 28vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0;
      box-sizing: border-box;
      transition: all 1.5s ease-in-out;
      margin-bottom: 1.5vw;
    }
  
    #aboutme .technical_part02>div {
      height: 25vw;
      display: flex;
      flex-direction: column;
    }
  
    #aboutme .technical_part02 li {
      margin-bottom: 10px;

    }
  
    #aboutme .technical_part02 h5 {
      font-size: 1.3vw;
      font-weight: bold;
      margin-bottom: 15px;
    }
  
    #aboutme .technical_part02_course {
      margin-bottom: 1vw;
    }
  
    #aboutme .technical_part02_course>ul {}
  
    #aboutme .technical_part02_course>ul>li {
      width: 35vw;
      font-size: 0.7vw;
      line-height: 1vw;
    }
  
    #aboutme .technical_part02_course>ul>li>span {
      font-size: 0.7vw;
      float: right;
      width: 3vw;
      height: 1.5vw;
      border-radius: 15px;
      text-align: center;
      line-height: 1.3vw;
    }
  
    .ing {
      border: 1px solid #040463;
    }
  
    .done {
      color: #fff;
      background-color: #040463;
    }
  
    #aboutme .technical_part02_book {
      width: 33vw;
      margin-left: 0;
    }
  
    #aboutme .technical_part02_book>ul>li {
      font-size: 0.7vw;
      line-height: 1vw;
    }
  
    #aboutme .technical_part02_book>ul>li>span {
      font-size: 0.7vw;
      float: right;
      text-align: center;
      line-height: 1vw;
    }
  
    #aboutme .technical_part03 li {
      margin-bottom: 10px;
      font-size: 0.7vw;
      line-height: 1vw;
    }
  
    #aboutme .technical_part03 span {
      font-size: 0.7vw;
      margin-right: 10px;
    }

/* 컨텐츠 Project */
#contents .project {
  width: 100%;
  height: 50vw;
  margin-bottom: 200px;
}

#contents .project>section {
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 300px 0 200px;
  box-sizing: border-box;
}

#contents .project>section .project_detail {
  width: 50vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 2vw;
  box-sizing: border-box;
}

#contents .project>section .project_detail h4 {
font-size : 1.7vw;
  transition: all 1.5s ease-in-out;
}

#contents .project>section .project_detail h5 {
  font-size: 1.2vw;
  transition: all 1.5s ease-in-out;
}

#contents .project>section .project_detail p {
  width: 30vw;
  font-size: 1vw;
  text-align: center;
  line-height: 1.5vw;
  margin-bottom: 1.5vw;
  transition: all 1.5s ease-in-out;
}

#contents .project>section .project_detail>.goto {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 1.5s ease-in-out;
}

#contents .project>section .project_detail>.goto>a {
  width: 6.5vw;
  height: 2.5vw;
  font-size: 1vw;
  font-weight: 500;
  position: relative;
  border: 1.5px solid #040463;
  border-radius: 30px;
  text-align: center;
  line-height: 2.5vw;
}

/*contact*/
#contact section {
  height: 50vw;
  padding: 15vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact section>p {
  font-size: 20px;
  margin-bottom: 5vw;
}
#contact section ul {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#contact section li {
  font-size: 1vw;
  text-align: center;
}

#contact section li>a {
  padding: 0.5vw 1vw;
  border: 1.5px solid #040463;
  border-radius: 15vw;
}

    /*top button*/
    .visible {
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      border: 2px solid #040463;
      box-sizing: border-box;
      position: fixed;
      bottom: 5px;
      right: 5px;
      z-index: 9999;
    }
  #top_btn>a>span {
    line-height: 2vw;
    font-size: 2vw;
  }
}

